@import url('https://fonts.googleapis.com/css?family=Yellowtail');

body {
    margin: 0px;
    padding: 0px;
}
header {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    font-family: 'Yellowtail', cursive;
    position: relative;
}
.background {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-image: url(./bricks.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(1px);
}
.pink-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80;
    opacity: .05;
    animation: darken 10s linear infinite;
}
.sign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.neon-sign {
    margin: 0px;
    padding: 0px;
    position: relative;
    font-size: 120px;
    color: white;
    text-shadow: 0 0 20px #ff005b;
    display: block;
    animation: flicker 10s linear infinite;
}
 .neon-sign::after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #ff005b; 
    filter: blur(10px);
    animation: pulse 5s linear infinite;
}
.neon-sign::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80; 
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}

@keyframes flicker {
    0% {
        color: white;
        opacity: 1;
        text-shadow: 0 0 20px #ff005b;
    }
    67% {
        color: white;
        opacity: 1; 
        text-shadow: 0 0 20px #ff005b;
    }
    68% {
        color: black;
        opacity: 0.2;         
        text-shadow: 0 0 0px transparent;        
    }
    68.5%{
        color: white;
        opacity: 1;         
        text-shadow: 0 0 20px #ff005b;
    }
    69.5% {
        color: white;
        opacity: 1; 
        text-shadow: 0 0 20px #ff005b;
    }
    70% {
        color: black;
        opacity: 0;
        text-shadow: 0 0 0px transparent;
    }
    70.5% {
        color: white;
        opacity: 1;
        text-shadow: 0 0 20px #ff005b;
    }
    71% {
        color: white;
        opacity: 1;
        text-shadow: 0 0 20px #ff005b;
    }
    71.5% {
        color: black;
        opacity: 0.2;
        text-shadow: 0 0 0px transparent;
    }
    74% {
        color: black;
        opacity: 0.2;        
        text-shadow: 0 0 0px transparent;
    }
    75% {
        color: white;
        opacity: 1;
        text-shadow: 0 0 20px #ff005b;
    }
    100% {
        color: white;
        opacity: 1;
        text-shadow: 0 0 20px #ff005b;
    }
}
@keyframes pulse {
    0% {
        filter: blur(10px);
    }
    30% {
        filter: blur(25px);
    }
    60% {
        filter: blur(10px);
    }
    80% {
        filter: blur(25px);
    }
}
@keyframes darken {
    0% {
        background: #fe3a80;
        opacity: .05;
    }
    67% {
        background: #fe3a80;
        opacity: .05;
    }
    68% {
        background: black;
        opacity: .05;        
    }
    68.5%{
        background: #fe3a80;
        opacity: .05;
    }
    69.5% {
        background: #fe3a80;
        opacity: .05;
    }
    70% {
        background: black;
        opacity: .05;
    }
    70.5% {
        background: #fe3a80;
        opacity: .05;
    }
    71% {
        background: #fe3a80;
        opacity: .05;
    }
    71.5% {
        background: black;
        opacity: .1;
    }
    74% {
        background: black;
        opacity: .1;
    }
    75% {
        background: #fe3a80;
        opacity: .05;
    }
    100% {
        background: #fe3a80;
        opacity: .05;
    }    
}